docs/_build/
build/
_build_coverage/
tests/_build_website/
tests/_build_coverage/
dist/
dask-worker-space/
__pycache__
*.egg-info/
tests/**/_build/
tests/project/lecture-python-programming.myst/.git*
tests/project/_build
*.pyc
*.log
.DS_Store
.vscode/
doctrees/

tests/project/lecture-python-programming.myst/lectures/foo.py
tests/project/lecture-python-programming.myst/lectures/math2.py
tests/project/lecture-python-programming.myst/lectures/mod.py
tests/project/lecture-python-programming.myst/lectures/newfile.txt
tests/project/lecture-python-programming.myst/lectures/numbers.txt
tests/project/lecture-python-programming.myst/lectures/test.py
tests/project/lecture-python-programming.myst/lectures/test_table.csv
tests/project/lecture-python-programming.myst/lectures/us_cities.txt